* {
    margin: 0;
    padding: 0;
    border-sizing: border-box;
    font-family: Roboto, sans-serif;
}

:root {
    font-size: 16px;
}

body {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4.5fr;
    grid-template-rows: 1fr 5fr;
    grid-template-areas: "nav header"
                         "nav content";
}

header {
    grid-area: header;
    background-color: #fefefe;
}

nav {
    grid-area: nav;
    background-color: #2196f3;
    color: white;
    font-size: 20px;
}

nav > .nav-heading {
    font-size: 28px;
    padding: 6px 16px;
    margin-bottom: 2rem;

    display: flex;
    align-items: center;
}

.nav-heading > span {
    font-size: 50px;
    margin-right: 10px;
}

ul.side-nav {
    display: grid;
    grid-template-rows: repeat(auto-fill, minmax(30px, 1fr));
}

ul.side-nav li {
    padding: 8px 20px;
    font-weight: bold;
}

ul.side-nav li.gap-above {
    margin-top: 2rem;
}

ul.side-nav li > span {
    margin-right: 20px;
}


div.content {
    grid-area: content;
    background-color: #f6f6f6;
}